body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    background:gray;
    font-family: 'Raleway', sans-serif;
}

.card{
    background:lightslategray;
    padding:2em;
    border-radius: 5px;
    width:100%;
    max-width:420px;
    margin:1em;
}