body{
   
    
    height:100vh;
    margin:0;
    background:gray;
    font-family: 'Raleway', sans-serif;
    
}


button{
    height:auto;
    width:auto;
    margin:0.5em;
    border-radius:10%;
    border:none;
    background: darkgray ;
    cursor: pointer;
    justify-content: space-evenly;
    display:grid;
}

.search-bar{
    background: darkgrey;
    color:black;
    font-family: inherit;
    font-size: 100%;
    border:none;
    border-radius: 20px;
    margin:0.5em;
    padding:0.5em 3em;
    height:1.8em;
    width:15em;
    outline:none;
    align-items: center;
    justify-content: center;
    }



    
